

@model AccountContext
@{
	ViewBag.Title = "login";
}

@section Scripts{
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
}}
<form asp-action="SignIn" method="post">

	<div class="maindiv  container-fluid">
		<div class="div1 ">
			<img alt="logo" src="/css/images/images.jpeg"/>
		</div>
	<div class="div2">

		<h1>Sign In</h1>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<label asp-for="email" class="form-label"></label>
			<input asp-for="email" class="form-control" />
			<span asp-validation-for="email" class="text-danger"></span>
	<br />
		<label asp-for="password" class="form-label"></label>
		<input asp-for="password" class="form-control" />
		<span asp-validation-for="password" class="text-danger"></span>

			@if (!string.IsNullOrEmpty(ViewBag.LoginError))
			{
				<span class="text-danger">@ViewBag.LoginError</span>
			}


			<div class="d-flex  justify-content-center  mt-3 ">
				<!-- Login Button (Redirect to Login View in Login Folder) -->
				<a href="@Url.Action("SignUp", "Account")" class="btn btn-primary me-2">New User</a>
			<button type="submit" class="btn  btn-primary">Login </button>
		</div>

	</div>
	</div>
</form>
