
html {
    font-size: 17px;
 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.imglogo{
    width:40px;
    height:40px;
}
html {
    position: relative;
    min-height: 100%;
}

body {

}
.maindiv {
    display: flex;
    width: 100%;
  
}
.div2 {
    width: 40%;
    margin-left: 50px;
   padding:80px;
}
.div1 {
    width: 50%;
    
}
img {
    width: 100%;
  
}
h1{
    text-align:center;
}
button{
    justify-items:center;
    width:90px;
}
.grid-center{
    display:flow;
    justify-content:center;
}
.bg-logo {
    background-color: #062283;
    color: snow;
    
}
a{
    color:white;
}
/* Keel (white dot) */
/* Sidebar Styles */
#sidebar {
    transition: width 0.4s ease-in-out;
}

/* Elastic Thread */
.elastic-thread {
    height: 2px;
    width: 50px;
    background-color: transparent;
    margin: 10px;
    transform-origin: left;
    transition: transform 0.6s ease-in-out;
}

/* Contracted Sidebar */
.sidebar-contracted .elastic-thread {
    transform: scaleX(3); /* Stretch the thread */
}

/* Expanded Sidebar */
.sidebar-expanded .elastic-thread {
    transform: scaleX(1); /* Thread back to normal */
}
